<% pages.each do |page, children| %>
  <tr>
    <td><% page.ancestors.each do |page| %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<% end %>|== <%= page.title %></td>
    <td><%= page.slug %></td>          
    <td>
      <%= link_to raw('<i class="fa fa-chevron-up"></i>'), admin_page_move_higher_path(page.slug) %>
      <%= link_to raw('<i class="fa fa-chevron-down"></i>'), admin_page_move_lower_path(page.slug) %>
      <%= link_to raw('<i class="fa fa-edit"></i>'), edit_admin_page_path(page) %> <%= link_to raw('<i class="fa fa-trash"></i>'), [:admin, page], method: :delete, data: { confirm: t('delete?') } %>
    </td>

</tr>
<%= render 'submenu_pages', pages: children if children.present? %>
<% end %>