<!-- Grid row -->
<div class="row">
  <!-- Data block -->
  <article class="span8 data-block">
    <header>
      <h2><span class="icon-tasks"></span> Ordrar & bokningar</h2>
    </header>
    <section>
      <h3>Ordrar denna vecka</h3>
      
      <h3>Senaste ordrarna</h3>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Nr</th>
            <th>Namn</th>
            <th>Summa</th>
            <th>Bekräftad</th>
            <th>Skapad</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @dashboard.last_ten_orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.first_name %> <%= order.family_name %></td>
            <td></td>
            <td><%= order.confirmed %></td>
            <td><%= order.created_at.strftime("%Y-%m-%d") %></td>
            <td><%= link_to raw('<i class="icon-file-alt"></i>'), [:admin, order] %></td>
            <td><%= link_to raw('<i class="icon-envelope-alt"></i>'), [:admin, order] %></td>
            <td><%= link_to raw('<i class="icon-print"></i>'), admin_order_path(order, format: :pdf) %></td>
            <td><%= link_to raw('<i class="icon-trash"></i>'), [:admin, order], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      
      <h3>Bokningar att godkänna</h3>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Tid</th>
            <th>Namn</th>
            <th>Bokades</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @dashboard.new_appointments.each do |appointment| %>
          <tr>
            <td><%= appointment.start_time.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= appointment.label %></td>
            <td><%= appointment.updated_at.strftime("%Y-%m-%d") %></td>
            <td><%= link_to raw('<i class="icon-edit"></i>'), edit_admin_appointment_path(appointment) %> <%= link_to raw('<i class="icon-trash"></i>'), [:admin, appointment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </section>
  </article>
  
  <!-- Data block -->
  <article class="span4 turquoise data-block">
    <header>
      <h2><span class="icon-tasks"></span> Bästsäljare</h2>
    </header>
    <section>
      <h4>Bäst säljande produkter</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Produkt</th>
            <th>Antal</th>
          </tr>
        </thead>
        <tbody>
          <% @dashboard.top_selling_products.each do |product| %>
          <tr>
            <td><%= product[1] %></td>
            <td><%= product[2] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <h4>Sämst säljande produkter</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Produkt</th>
            <th>Antal</th>
          </tr>
        </thead>
        <tbody>
          <% @dashboard.least_selling_products.each do |product| %>
          <tr>
            <td><%= product[1] %></td>
            <td><%= product[2] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </section>
  </article>
  <!-- /Data block -->
</div>