<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Vecka', 'Ordrar'],
      <% @dashboard.week_dates.each do |week, order_count| %>
      ['V.<%= week %>', <%= @dashboard.grouped_orders.fetch(week, order_count) %>],
      <% end %>
    ]);

    var options = {
      title: 'Ordrar',
      curveType: 'function',
      legend: { position: 'bottom' },
      colors:['#27ae60','#16a085']
    };

    var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
<script>
  $(function(){
    $(".fa-print").parent().on("click", function(e){
      $.get($(this).data("path"));
    });
  });
</script>

<!-- Grid row -->
<div class="row">
  <!-- Data block -->
  <article class="span8 data-block">
    <header>
      <h2><span class="fa fa-tasks"></span> Ordrar & bokningar</h2>
    </header>
    <section>
      <div id="chart_div" style="height: 350px;"></div>
      
      <div class="btn-group pull-right" data-toggle="buttons-checkbox">
        <button type="button" class="btn filter" data-filter="confirmed" data-value="false">Bekräftade</button>
        <button type="button" class="btn filter" data-filter="confirmed" data-value="true">Obekräftade</button>
        <button type="button" class="btn filter" data-filter="card-payment" data-value="false">Kort</button>
        <button type="button" class="btn filter" data-filter="card-payment" data-value="true">Förskott</button>
      </div>
      
      <h3>Outskrivna ordrar</h3>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Nr</th>
            <th>Summa</th>
            <th>Bekräftad</th>
            <th>Metod</th>
            <th>Skapad</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @dashboard.unprinted_orders.each do |order| %>
          <tr id="order_<%= order.id %>" data-confirmed="<%= order.confirmed  == true %>" data-card-payment="<%= order.payment_type == 'card' %>">
            <td><%= order.id %></td>
            <td><%= to_curr(order.summary[:sum]) %></td>
            <td><%= order.confirmed == true ? 'Ja':'Nej' %></td>
            <td><%= order.payment_type == 'card' ? 'Kort' : 'Förskott' %></td>
            <td><%= order.created_at.strftime("%Y-%m-%d") %></td>
            <td><%= link_to raw('<i class="fa fa-file-o"></i>'), [:admin, order] %></td>
            <td><%= link_to raw('<i class="fa fa-envelope-o"></i>'), admin_order_path(order, mail: true) %></td>
            <td><%= link_to raw('<i class="fa fa-print"></i>'), admin_order_path(order, format: :pdf), data: {path: admin_order_mark_as_printed_path(order)}, target: '_blank' %></td>
            <td><%= link_to raw('<i class="fa fa-trash-o"></i>'), [:admin, order], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      
      <h3>Bokningar att godkänna</h3>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Tid</th>
            <th>Namn</th>
            <th>Bokades</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @dashboard.new_appointments.each do |appointment| %>
          <tr>
            <td><%= appointment.start_time.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= appointment.label %></td>
            <td><%= appointment.updated_at.strftime("%Y-%m-%d") %></td>
            <td><%= link_to raw('<i class="fa fa-edit"></i>'), edit_admin_appointment_path(appointment) %> <%= link_to raw('<i class="fa fa-trash"></i>'), [:admin, appointment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </section>
  </article>
  
  <!-- Data block -->
  <article class="span4 turquoise data-block">
    <header>
      <h2><span class="fa fa-tasks"></span> Bästsäljare</h2>
    </header>
    <section>
      <h4>Bäst säljande produkter</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Produkt</th>
            <th>Antal</th>
          </tr>
        </thead>
        <tbody>
          <% @dashboard.top_selling_products.each do |product| %>
          <tr>
            <td><%= product[1] %></td>
            <td><%= product[2] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <h4>Sämst säljande produkter</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Produkt</th>
            <th>Antal</th>
          </tr>
        </thead>
        <tbody>
          <% @dashboard.least_selling_products.each do |product| %>
          <tr>
            <td><%= product[1] %></td>
            <td><%= product[2] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </section>
  </article>
  <!-- /Data block -->
</div>
