<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= wicked_pdf_stylesheet_link_tag "application" %>
  </head>
  <body>
    <table border="0" width="100%">
      <tr>
        <td valign="top" width="50%">
          <table width="100%">
            <tr>
              <td align="right" width="30%">Beställd: </td>
              <td width="70%"> <%= @order.created_at.strftime("%Y-%m-%d") %></td>
            </tr>
            <tr>
              <td align="right">Ordernummer: </td>
              <td><%= @order.id %></td>
            </tr>
            <tr>
              <td align="right">Betalningssätt: </td>
              <td><%= @order.payment_type=='card' ? 'Kort':'Förskott' %></td>
            </tr>
          </table>
        </td>
        <td valign="top">
          <table width="100%">
            <tr>
              <td valign="top" width="100%">
                <h4>Packsedel</h4>
                <small><%= @order.first_name %> <%= @order.family_name %><br>
                <%= @order.address1 %> <%= @order.address2 %><br>
                <%= @order.zip %> <%= @order.city %><br><br>
                <%= @order.email %><br>
                <%= @order.phone %></br><small> 
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <br><br>
    <table class="table table-condensed table-bordered table-striped">
      <tr>
        <td width="10%" align="right">Antal</td>
        <td width="90%">Beskrivning</td>
      </tr>
      <% @order.order_items.each do |order_item| %>
      <tr>
        <td align="right">1</td>
        <td>
          <%= order_item.product.name %> 
          <%= order_item.image_nr %>
        </td>
      </tr>
      <% end %>
    </table>
    
    <div class="row">
    <% @pictures.each do |picture| %>
      <div class="span1" style="width: 80px; margin-height: 10px; float:left">
      <%= pdf_image_tag picture.image, class: 'thumbnail'  %>
      </div>
    <% end %>
    </div>
    
  </body>
</html>

