<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= wicked_pdf_stylesheet_link_tag "application" %>
    <style>
      #logo {margin-bottom: 20px; }
      #logo img {border: none; }
    </style>
  </head>
  <body>
    <center><h2>Packsedel</h2></center>
    <hr>
    <table border="0" width="100%" style="margin-top: 5px">
      <tr>
        <td valign="top" width="60%">
          <table width="100%">
            <tr>
              <td valign="top" width="100%">
                <small>
                  <div id="logo"><%= pdf_image_tag "/bt_logga.jpg", class: 'logo'  %></div>
                  BTFOTO.SE<br>
                  Haraldstorpsvägen 235<br>
                  271 91 Ystad<br>
                  Sweden<br><br>

                  Tel: 0702 - 21 05 70<br>
                  www.btfoto.se | e-mail: info@btfoto.se
                </small>
              </td>
            </tr>
          </table>
        </td>
        <td valign="top">
          <table width="100%">
            <tr>
              <td valign="top" width="100%">
                <small>
                  <%= @order.first_name %> <%= @order.family_name %><br>
                  <%= @order.address1 %> <%= @order.address2 %><br>
                  <%= @order.zip %> <%= @order.city %>
                <small>
              </td>
            </tr>
            <tr>
              <td valign="top" width="100%" style="padding-top: 90px">
                <small>
                  Ordernummer: <%= @order.id %><br>
                  Beställd: <%= @order.created_at.strftime("%Y-%m-%d") %><br>
                  Betalningssätt: <%= @order.payment_type=='card' ? 'Kort':'Förskott' %><br>
                  Försändelser: <%= @order.extra_shipment == true ? raw('<strong>2 leveranser</strong>'):'1 leverans' %><br>
                  Email: <%= @order.email %>
                <small>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <br><br>
    <table class="table table-condensed table-bordered table-striped">
      <tr>
        <td width="10%" align="right">Antal</td>
        <td width="90%">Beskrivning</td>
      </tr>
      <% @order.order_items.each do |order_item| %>
      <tr>
        <td align="right"><%= order_item.quantity %></td>
        <td>
          <%= order_item.product.name %> 
          <%= order_item.image_nr %>
        </td>
      </tr>
      <% end %>
    </table>
    
    <div class="row">
    <% @pictures.each do |picture| %>
      <div class="span1" style="width: 80px; margin-height: 10px; float:left">
      <%= pdf_image_tag picture.image, class: 'thumbnail'  %>
      </div>
    <% end %>
    </div>
    
  </body>
</html>

