<% content_for(:gallery) do %>
  <%= render 'gallery' %>
<% end %>

<%= default_page_markup do %>
  <div class='span4'>
    <%= index_heading 'camera', t('.booking_heading') %>
    <p><%== t '.booking_text' %></p>
  </div>
  <div class='span4'>
    <%= index_heading 'shopping-cart', t('.order_heading') %>
    <%== @frontpage.page.content %>
  </div>
  <div class='span4'>
    <%= index_heading 'rss', t('.news_heading') %>
    <% @frontpage.news.each do |news| %>
      <%= news_item(news) %>
    <% end %>
    <%= link_to("#{t('.all_news')} #{fa 'angle-double-right'}".html_safe, 
                news_index_path, class: 'pull-right') %>
  </div>
<% end %>
