<!-- Grid row -->
<div class="row">
  <!-- Data block -->
  <article class="span12 data-block">
    <header>
      <h2><i class="icon-table"></i> <%= t 'admin.products.Title' %></h2>
    </header>
    <section>
      <%= link_to t('admin.products.new.New_product'), new_admin_product_path, :class => 'btn btn-alt btn-primary pull-right' %>
      <h3><%= t '.Show_products' %></h3>
      <table class="table table-bordered table-striped table-highlight">
      <thead>
      <tr>
        <th><%= sortable 'name', t('.Product') %></th>
        <th><%= t '.Image' %></th>
        <th><%= sortable 'price', t('.Price') %></th>
        <th><%= t '.Price_vat' %></th>
        <th><%= t '.Free_shipping' %></th>
        <th><%= t '.Allow_discount' %></th>
        <th><%= sortable 'product_type', t('.Product_type') %></th>
        <th></th>
      </tr>
      </thead>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= link_to(product.image.file.filename, "#{product.image}") if product.image %></td>
        <td><%= to_curr product.price %></td>
        <td><%= to_curr product.price_with_vat %></td>
        <td><%= product.freight == true ? t('Yes'):t('No') %></td>
        <td><%= product.allow_discount == true ? t('Yes'):t('No') %></td>
        <td><%= product.types[product.product_type] %></td>
        <td><%= link_to raw('<i class="icon-edit"></i>'), edit_admin_product_path(product) %> <%= link_to raw('<i class="icon-trash"></i>'), [:admin, product], method: :delete, data: { confirm: t('delete?') } %></td>
      </tr>
    <% end %>
    </table>
    </section>
  </article>
  <!-- /Data block -->
</div>
