<% if @cart.summary[:quantity] and @cart.summary[:quantity] > 0 %>
<!-- Varukorg -->
<div class="widget widget_text well alert alert-info">
  <h3><%= t '.shopping_cart' %></h3>
    <hr>
    <div id="cart-content-container">
	    <div id="cart-content">
        <%= t '.summary', cnt: @cart.summary[:quantity], items: ( @cart.summary[:quantity] == 1 ? 'artikel':'artiklar') %><br>
        <span class="ordinary-price"><%= t '.total', sum: to_curr(@cart.summary[:sum_without_delivery]) %></span>

	    	<% if @cart.days_left >= 0 %>
	    	  <div><strong><%= t '.your_price', sum: to_curr(@cart.summary[:sum_without_delivery]) %></div>
	    	  <style>span.ordinary-price {text-decoration: line-through;}</style>
	    	<% end %>

	    </div>
    </div>
    <hr>
	<div align="right">
    <%= link_to "#{fa('shopping-cart')} #{t('.checkout')}".html_safe, store_checkout_path, class: 'btn btn-success' %>
  </div>
	<hr>
  <%= is_freight_free_text %>
</div>
<% end %>
