<h3><%= t '.heading' %></h3>

<div class="thumbnail img-modal" style="margin-bottom: 5px;">
  <%= thumbnail(@picture, @picture.image.url) %>
</div>

<% @picture.syblings.in_groups_of(2, false) do |row| %>
  <div class="row-fluid" style="margin-bottom: 5px;">
    <% row.each do |picture| %>
      <%= sybling_picture(picture) %>
    <% end %>
  </div>
<% end %>

<div align="center">
  <div style="padding-top:6px;padding-bottom:3px"><small><em><%= t '.add_sybling' %></em></small></div>
  <%= link_to t('.change_image'), store_edit_image_path, class: 'btn btn-success btn-small' %>
</div>

<% if @picture.group_image %>
  <h5><%= t '.group_image' %></h5>
  <div class="row">
    <div class="span7 offset1">
      <div class="thumbnail img-modal">
        <%= thumbnail(@picture.group_image, @picture.group_image.image.url) %>
      </div>
    </div>
    <div class="span4"></div>
  </div>
<% end %>

<style>
.thumbnail.chosen {
  border-color: red;
  box-shadow: 0 0 2px red;
}
</style>
