<% content_for(:tagline) do %>
  <h1>Beställ bilder</h1>
<% end %>

<%= render 'content_top' %>
  <h3>Varukorg</h3>
  <table class="table table-striped" id="checkout-table">
    <thead>
    	<tr>
    		<th></th><th>Produkt</th><th>Bildnr.</th><th>Ant.</th><th>Summa</th><th>Total</th><th></th>
    	</tr>
    </thead>
    <%= form_tag update_multiple_cart_items_path, method: :put, id: 'update-cart-form' do %>
    <tbody>
    	<% @cart.summary[:products].each do |product| %>
    	<tr>
    		<td class="cart_item_row"><%= check_box_tag "cart_item_ids[]", product[:cart_item_id] %></td>
    		<td><%= product[:name] %></td>
    		<td><%= product[:image_nr] %></td>
    		<td><%= text_field_tag "cart_items[#{product[:cart_item_id]}]", product[:quantity], class: "update-count input-mini" %></td>
    		<td><%= to_curr(product[:price]) %></td>
    		<td><%= to_curr(product[:total_price]) %> Kr</td>
    	</tr>
    	<% end %>
    	<% if @cart.days_left >= 0 %>
    	<tr>
    	  <td></td>
    		<td>Rabatt 10%</td>
    		<td colspan="3"></td>
    		<td>-<%= to_curr(@cart.summary[:discount]) %> Kr</td>
    	</tr>
    	<% end %>
    	<tr>
    	  <td></td>
    		<td>Varav moms</td>
    		<td colspan="3"></td>
    		<td>(<%=  @cart.days_left >= 0 ? to_curr(@cart.summary[:vat_after_discount]) : to_curr(@cart.summary[:vat]) %> Kr)</td>
    	</tr>
    	<tr>
    		<td></td>
    		<td>Expeditionsavgift</td>
    		<td><%= submit_tag "Uppdatera", class: 'btn btn-mini btn-success', id: 'update-cart-button' %></td>
    		<td colspan="2"></td>
    		<td><%= to_curr(@cart.summary[:delivery]) %> Kr</td>
    	</tr>
    </tbody>
    <% end %>
    <tfoot>
    	<tr>
    		<td colspan="4" id="actions">
	    		<%= form_tag delete_multiple_cart_items_path, method: :delete, class: "form-inline" do %>
            <%= hidden_field_tag "cart_items", nil, id: "delete_cart_items" %>
            <%= submit_tag "Radera markerade", class: 'btn btn-mini btn-danger' %>
          <% end %>
	    		<%= button_to "Tom varukorg", destroy_multiple_cart_items_path, method: :delete, class: 'btn btn-mini btn-danger' %>
	    	</td>
    		<td>Total:</td>
    		<td><%= to_curr(@cart.summary[:sum_plus_delivery]) %> Kr</td>
    	</tr>
    </tfoot>
	</table>
	<hr>
	<div align="right">
		<br><br>
		<%= link_to 'Fortsätt handla', store_path, class: 'btn btn-large' %>
		<%= link_to 'Vidare till betalning', store_payment_path, class: 'btn btn-success btn-large' %>
	</div>
<%= render 'content_bottom', partials: %w(customer_image payment_info) %>
