<% content_for(:tagline) do %> 
  <h1>Beställ bilder</h1>
<% end %>

<%= render partial: 'content_top' %> 					  							  	
  
  <% if @product_type and @product_type > 0 %>
    <h1><%= @product_types.types[@product_type] %></h1>
    <p><%= raw t("product_type_text_#{@product_type}") %></p>
  <% else %>
    <h1>Visar alla produkter</h1>
  <% end %>
  
  <% @i = 0 %>
  <% @products.each do |product| %>
    <%= raw('<div class="row-fluid">') if @i == 0 || @i % 3 == 0 %>
    <% @i += 1 %>
    <%= render 'product', product: product %>
    <%= raw("</div><!-- end row-fluid -->") if @i == @products.count || @i % 3 == 0 %>
  <% end %>                                         
  
  <% if @products.size == 0 %>
    <h5>Det finns tyvärr inga produkter i den här kategorin.</h5>
  <% end %>
  
<%= render partial: 'content_bottom', locals: {partials: %w[product_types cart days_left customer_image payment_info], product_types: @product_types} %>