<% content_for(:tagline) do %>
  <h1><%= t('.store_heading') %></h1>
<% end %>

<%= store_page_markup(%w(cart days_left customer_image payment_info)) do %>

  <%= render 'store_header', product_types: @product_types %>

  <% @products.in_groups_of(3) do |products| %>
    <div class="row-fluid">
      <%== products.map { |product| render('product', product: product) if product }.join %>
    </div>
  <% end %>

  <% if @products.size == 0 %>
    <h5><%= t '.no_images' %></h5>
  <% end %>

<% end %>

<%= render 'customer_image_modal' %>
