<% content_for(:tagline) do %> 
  <h1>Beställ bilder</h1>
<% end %>

<%= render partial: 'content_top' %> 					  							  	

  <% @i = 0 %>
  <% @products.each do |product| %>
    <%= raw('<div class="row-fluid">') if @i == 0 || @i % 3 == 0 %>
    <% @i += 1 %>
    <%= render 'product', product: product %>
    <%= raw("</div><!-- end row-fluid -->") if @i == @products.count || @i % 3 == 0 %>
  <% end %>                                         

<%= render partial: 'content_bottom', locals: {partials: %w[cart days_left customer_image payment_info]} %>