<% content_for(:tagline) do %>
  <h1><%= t 'store.index.store_heading' %></h1>
<% end %>

<%= store_page_markup(%w(payment_info)) do %>
  <h2><%= t '.login' %></h2>
  <p><%= t '.login_text' %></p>

  <%= form_tag store_auth_path do %>
    <%= label_tag :image_nr, t('common.image_nr') %>
    <%= text_field_tag :image_nr, nil, class: 'input-xlarge', placeholder: "Ex: 12Test-F1-5544-22" %>

    <% if params[:error] && params[:error] == 'login' %>
      <p class="text-error" style="width: 80%"><%== t '.error_message' %></p>
    <% end %>

    <div align="right">
      <%= submit_tag t('.login'), class: 'button btn btn-large btn-success' %>
    </div>
  <% end %>
<% end %>
