<% content_for(:tagline) do %>
  <h1><%= t 'store.login.store_heading' %></h1>
<% end %>

<%= store_page_markup(%w(cart days_left customer_image payment_info)) do %>
  <%= heading_for @product %>

  <div class="row-fluid">
    <div class="span6 thumbnail">
      <%= image_tag @product.image %>
    </div>
    <div class="span6">
      <%== @product.description %>
      <hr>
      <%= link_to t('common.back'), store_path, class: 'btn' %>
      <%= button_to t('common.add_to_cart'), add_to_cart_path(product_id: @product.id), class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
