!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title BTFoto
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    = stylesheet_link_tag    "application", "admin/theme", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src=".http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %link{:href => "http://www.btfoto.se/favicon.ico", :rel => "shortcut icon"}/
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"} Project name
          -if signed_in?
            .nav-collapse.collapse
              %p.navbar-text.pull-right
                Logged in as
                %a.navbar-link{:href => "#"}
                  =current_user.email
              %ul.nav
                %li.active
                  %a{:href => "/admin"} Home
                %li
                  = link_to "Sidhantering", admin_pages_path
                %li
                  = link_to "Produkter", admin_products_path
                %li
                  = link_to "Produktkategorier", admin_product_categories_path
                
          / /.nav-collapse
    #wrap
      .container-fluid.top
        .row-fluid
          .span3
            .well.sidebar-nav
              %ul.nav.nav-list
                %li.nav-header Navigering
            / /.well
          / /span
          .span9
            = yield
          / /span
        / /row
      / /.fluid-container
      #push
    #footer
      .container
        %p © Company 2013